@import "../base/_base";
@import "../abstracts/_variables";

.search {
  padding: 10px;
  border-top: 1px solid map-get($color, "border--color");
  border-radius: map_get($border-radius, "search_border--radius");
  align-items: center;

  & input {
    width: 100%;
    border: none;
    padding-left: map_get($font-size, "search_icon_font--size") / 2;
  }

  & ::placeholder {
    font-style: italic;
    color: map-get($color, "search--color");
  }

  & i {
    font-size: map-get($font-size, "search_icon_font--size");
    transform: rotate(90deg);
    color: map-get($color, "search--color");
  }

  & button {
    padding: $group_button--padding;
    font-size: 19px;
    border: 2px solid map_get($color, "group_button--color");
    background-color: map-get($color, "white");
    color: map_get($color, "group_button--color");
    border-radius: map_get($border-radius, "group_button_border--radius");

    &:hover {
      cursor: pointer;
      background-color: map_get($color, "group_button--color");
      color: map-get($color, "white");
    }
  }
}
