@import "_variables";
@mixin border-with-radius{
  border: 1px solid map-get($color, "border--color");
  border-radius: map-get($border-radius, "category_list_border--radius");
}
@mixin selected-and-suggestion-header{
  padding: 15px 0 0 15px;
  font-weight: 400;
  font-size: map_get($font-size, "header_font--size");
}