$border--color: #A9ADB2;
$search--color: #eef0f4;
$search_icon_size: 27px;
$header_font--size: 18px;
$header_font--size: 18px;
$group_button--padding: 4px 13px;
$group_button_border--radius: 5px;
$group_button--color: #6F87B2;
$scroll--color: #B3C0D4;
$scroll--width: 9px;
$scroll_border_radius: 10px;
$category_item--color: $border--color;
$suggestions_background: #F9F9F9;
$selected_category_cross_size: 10px;
$selected_category_close_cross: 10px;
$selected_category_list_background: #E5F1FF;
$or--color: $border--color;
$main--color: #626D83;
$arrow--size: 16px;
$or--padding: 6px;
$border--radius: 5px;
$edu--color: $border--color;
$white: #ffffff;
$categories_items_height: 345px;
$options_height: 345px;
$edu_level_font--size: 14px;
$checkbox_label_font--size: 17px;
$checkmark_border_radius: 3px;
$checkmark_size: 20px;
$check_width: $checkmark_size/4;
